* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Outfit", sans-serif;
  --bg-primary: #222024;
  --color-primary: #7f03bb;
  --color-terciary: #e7eff6;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 8rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  border-radius: 10px;
}

body {
  font-family: var(--ff-all);
  background-color: var(--bg-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  height: 7rem;
  width: 100%;

  padding: 4rem 10%;

  position: fixed;

  z-index: 999;

  /* background: linear-gradient(
    135deg,
    rgba(22, 2, 107, 0.6),
    rgba(127, 3, 187, 0.5),
    rgba(237, 65, 1, 0.2)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37); */
}

#logo {
  height: 4rem;
}

.sub {
  border-bottom: 3px solid transparent;
  background-image: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  background-position: 0 100%;
  background-size: 100% 0.5rem;
  background-repeat: no-repeat;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1.8rem;

  color: var(--color-terciary);

  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  box-shadow: 0 0.5rem 1.125rem -0.7rem #b933d4;
  border-radius: 3rem;

  width: 15rem;
  padding: 1.5rem 0;
  margin-top: 7%;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.btn:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--color-terciary);
}

#contato {
  margin-top: 0;
}

#contato:hover {
  background: linear-gradient(150deg, #140164, #510179, #832402);
  transform: translateY(0);
}

.main-section {
  background-image: url(./imgs/main-img.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.container {
  width: clamp(33rem, 80%, 130rem);

  height: 80rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: var(--ff-all);
  font-size: var(--fs-header);

  color: var(--color-terciary);
}

.container p {
  font-size: var(--fs-header-sm);
}

.section-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  height: 35rem;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 2rem 2rem 0;

  color: #e7eff6;
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);

  position: absolute;
  top: -15rem;
  left: 0;

  padding: 0 5rem;
}

.card {
  width: 30rem;
  height: 100%;
  margin-left: 8%;

  text-align: center;
  font-family: var(--ff-all);
  font-size: var(--fs-body);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: absolute;
  top: 12rem;
  margin: auto;
}

iframe {
  border-radius: 2rem;
}

#master-one {
  padding-top: 70rem;
}

#master-two {
  padding-top: 25rem;
}

#master-three {
  padding-top: 10rem;
}

#img-4 {
  position: absolute;
  right: 0;
  width: 6%;
}

#img-5 {
  position: absolute;
  left: 0;
  width: 9%;
}

#img-6 {
  position: absolute;
  left: 0;
  width: 7%;
}

#img-7 {
  position: absolute;
  right: 0;
  width: 8%;
}

#div-content-one {
  align-items: flex-start;
}

#div-content-two {
  align-items: flex-start;
  padding-left: 5rem;
}

#div-content-two p {
  padding-bottom: 2rem;
}

#div-img-two {
  justify-content: flex-start;
}

.div-master {
  width: clamp(33rem, 80%, 120rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 35rem;
  width: 70%;

  color: var(--color-terciary);
}

.div-content h1 {
  font-size: var(--fs-header-sm);
  margin-bottom: 5rem;
}

.div-content p {
  font-size: 3rem;
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35rem;
  width: 50%;
}

.div-img img {
  width: 85%;
}

.section-container-three {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20rem;
}

.section-container-three h1 {
  font-size: var(--fs-header-sm);
  color: var(--color-terciary);
}

.card-container-two {
  width: clamp(33rem, 80%, 130rem);
  height: 35rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 2rem 2rem 0;

  color: #e7eff6;

  margin-top: 7rem;
}

.card-two {
  width: 100%;
  height: 90%;

  padding: 2rem 5rem;
  margin: 0 2%;

  text-align: center;
  font-size: var(--fs-body);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 0.4rem solid transparent;
  background: linear-gradient(#222024, #222024) padding-box,
    linear-gradient(150deg, #16026b, #7f03bb, #ed4101) border-box;
  border-radius: 3rem;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.card-two:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.card-two img {
  height: 25%;
  margin-bottom: 2rem;
}

.card-two h1 {
  margin-bottom: 1rem;
}

.section-container-four {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20rem;
}

.section-container-four h1 {
  font-size: var(--fs-header-sm);
  color: var(--color-terciary);
}

.section-container-four p {
  font-size: var(--fs-body);
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-terciary);
}

.section-container-five {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20rem;
}

.section-container-five h1 {
  font-size: var(--fs-header-sm);
  color: var(--color-terciary);
}

.card-container-three {
  width: clamp(33rem, 80%, 130rem);
  height: 35rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 2rem 2rem 0;

  color: #e7eff6;

  margin-top: 7rem;
}

.card-three {
  width: 100%;
  height: 90%;

  padding: 2rem 5rem;
  margin: 0 2%;

  text-align: center;
  font-size: var(--fs-body);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  border-radius: 3rem;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.card-three:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.card-three img {
  height: 25%;
  margin-bottom: 2rem;
}

.card-three h1 {
  margin-bottom: 1rem;
}

/* Mobile */

@media (max-width: 1050px) {
  .card-container-two {
    flex-direction: column;

    margin-top: 40rem;
  }

  .card-two {
    margin: 3rem 0;
  }

  .card-container-three {
    flex-direction: column;

    margin-top: 40rem;
  }

  .card-three {
    margin: 3rem 0;
  }

  .section-container-four h1 {
    padding-top: 27rem;
  }

  #master-three {
    flex-direction: column;
    padding-top: 10rem;
  }

  #master-three img {
    margin-top: 10rem;
  }
}

@media (max-width: 855px) {
  #logo {
    top: 0;
    height: 4rem;
  }

  #contato {
    padding: 1rem 3rem;
  }

  .container h1 {
    height: 50rem;
    padding-top: 0;
  }

  .container h1 p {
    margin-bottom: 5rem;
  }

  .container h1 a {
    margin: auto;
  }

  #master-one {
    padding-top: 45rem;
  }

  #master-two {
    padding-top: 5rem;
  }

  #master-three {
    padding-top: 15rem;
  }

  .section-container-three {
    margin-top: 7rem;
  }

  .section-container-four {
    margin-top: 15rem;
  }

  .section-container-five {
    margin-top: 10rem;
  }

  .card-container {
    height: 30rem;
    width: 97%;
    display: flex;

    padding: 0 2rem;
  }

  .card {
    height: 100%;
    margin: 2rem;

    text-align: start;
    font-family: var(--ff-all);
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-container {
    position: absolute;
  }

  iframe {
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;
  }

  .div-master {
    align-items: center;
    justify-content: center;
    display: flex;

    padding: 20rem 4rem 0 0;
  }

  .div-content p {
    font-size: var(--fs-body);
  }

  .div-img img {
    width: 80%;
  }

  .section-container-five h1 {
    padding: 0 4rem;
  }
}

@media (max-width: 600px) {
  .main-section {
    background-image: url(./imgs/main-img\ -\ Copia.png);
  }

  .card {
    height: 100%;
    margin-left: 5%;
    font-size: 1.1rem;
  }

  iframe {
    width: 30rem;
    height: 20rem;
    border-radius: 2rem;
  }

  #master-one {
    padding-top: 35rem;
    padding-left: 10%;
  }

  #master-two {
    padding-top: 8rem;
    flex-direction: column-reverse;
  }

  .div-master {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .div-content {
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .div-img {
    width: 70%;
  }

  .div-img img {
    width: 100%;
  }

  .section-container-four h1 {
    padding-top: 27rem;
  }

  #master-three {
    flex-direction: column;
    padding: 15rem 5rem 0;
  }

  #master-three img {
    padding-top: 5rem;
  }
}
