* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Outfit", sans-serif;
  --bg-primary: #160D1B;
  --color-primary: #7f03bb;
  --color-terciary: #e7eff6;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-family: var(--ff-all);
  font-size: 2rem;

  height: 10rem;
  width: 100%;

  padding: 7rem 10%;

  position: fixed;

  z-index: 999;
}

#logo {
  height: 7rem;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--color-terciary);
}

#contato {
  color: #e7eff6;
 background: linear-gradient(150deg, #16026b, #7f03bb, #ED4101);
  box-shadow: 0 0.5rem 1.125rem -0.7rem #b933d4;
  padding: 1.5rem 5rem;

  border-radius: 4rem;
}

#contato:hover {
  background-color: #7f03bb;
  color: var(--color-terciary);
}

.main-section {
  height: 100vh;
  width: 100%;
  background-image: url(./imgs/main-img.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  width: clamp(33rem, 80%, 130rem);
  height: 80rem;

  padding-top: 20rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: var(--ff-all);
  font-size: 10rem;

  color: var(--color-terciary);
}

.container p {
  font-size: 3.5rem;
}

.container h1 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 2rem;

  color: var(--color-terciary);

  color: #e7eff6;
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  box-shadow: 0 0.5rem 1.125rem -0.5rem #7f03bb;
  border-radius: 4rem;

  width: 18rem;

  padding: 1.5rem 0;
  margin-top: 7%;
}

.section-container {
  position: relative;
  height: 40rem;

  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 2rem 2rem 0;

  color: #e7eff6;
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  box-shadow: 0 0.5rem 1.125rem -0.5rem #7f03bb;

  position: absolute;
  top: -40%;
  left: 0;
}

.card {
  width: 20rem;
  height: 20rem;
  margin-left: 8%;

  text-align: center;
  font-family: var(--ff-all);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-1{
  width: 100rem;
  position: absolute;

  left: 10%;
  top:5%;
  z-index: 2;
}
