* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Outfit", sans-serif;
  --bg-primary: #201227;
  --color-primary: #7f03bb;
  --color-terciary: #e7eff6;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 8rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  border-radius: 10px;
}

body {
  font-family: var(--ff-all);
  background-color: var(--bg-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-family: var(--ff-all);
  font-size: 1.7rem;

  height: 7rem;
  width: 100%;

  padding: 4rem 10%;

  position: fixed;

  z-index: 999;

  background: linear-gradient(
    135deg,
    rgba(22, 2, 107, 0.6),
    rgba(127, 3, 187, 0.5),
    rgba(237, 65, 1, 0.2)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);
}

#logo {
  height: 4rem;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 2rem;

  color: var(--color-terciary);

  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  box-shadow: 0 0.5rem 1.125rem -0.7rem #b933d4;
  border-radius: 3rem;

  width: 15rem;
  padding: 1.5rem 0;
  margin-top: 7%;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--color-terciary);
}

#contato {
  color: #e7eff6;
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  box-shadow: 0 0.5rem 1.125rem -0.7rem #b933d4;
  padding: 1.5rem 2.5rem;

  border-radius: 4rem;
}

.main-section {
  background-image: url(./imgs/main-img.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  width: clamp(33rem, 80%, 130rem);
  height: 100rem;

  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: var(--ff-all);
  font-size: var(--fs-header);

  color: var(--color-terciary);
}

.container p {
  font-size: var(--fs-header-sm);
}

.container h1 a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 2rem;

  color: var(--color-terciary);
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  box-shadow: 0 0.5rem 1.125rem -0.5rem #7f03bb;
  border-radius: 4rem;

  width: 18rem;

  padding: 1.5rem 0;
  margin-top: 7%;
}

.section-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  height: 35rem;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 2rem 2rem 0;

  color: #e7eff6;
  background: linear-gradient(150deg, #16026b, #7f03bb, #ed4101);
  box-shadow: 0 0.5rem 1.125rem -0.5rem #7f03bb;

  position: absolute;
  top: -15rem;
  left: 0;

  padding: 0 5rem;
}

.card {
  width: 30rem;
  height: 100%;
  margin-left: 8%;

  text-align: center;
  font-family: var(--ff-all);
  font-size: var(--fs-body);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: absolute;
  top: 12rem;
  margin: auto;
}

iframe {
  border-radius: 2rem;
}

#master-one {
  padding-top: 60rem;
}

#master-two {
  padding-top: 10rem;
}

#div-content-one {
  align-items: flex-start;
}

#div-content-two {
  align-items: flex-start;
}

.div-master {
  width: clamp(33rem, 80%, 110rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div-content {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 35rem;
  width: 50%;

  color: var(--color-terciary);
}

.div-content h1 {
  font-size: var(--fs-header-sm);
}

.div-content p {
  font-size: 3rem;
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35rem;
  width: 50%;
}

.div-img img {
  height: 90%;
}

/* Mobile */

@media (max-width: 840px) {
  #logo {
    top: 0;
    height: 4rem;
  }

  #contato {
    padding: 1rem 3rem;
  }

  .container h1 {
    height: 50rem;
    padding-top: 0;
  }

  .container h1 p {
    margin-bottom: 5rem;
  }

  .container h1 a {
    margin: auto;
  }

  .card-container {
    height: 30rem;
    width: 97%;
    display: flex;

    padding: 0 2rem;
  }

  .card {
    height: 100%;
    margin: 2rem;

    text-align: start;
    font-family: var(--ff-all);
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-container {
    position: absolute;
  }

  iframe {
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;
  }

  .div-master {
    width: clamp(33rem, 80%, 130rem);
    align-items: center;
    justify-content: space-around;
    display: flex;

    padding-top: 20rem;
  }

  .div-content p {
    font-size: var(--fs-body);
  }

  .div-img img {
    height: 80%;
  }
}

@media (max-width: 600px) {
  .card {
    height: 100%;
    margin-left: 5%;
    font-size: 1.1rem;
  }

  iframe {
    width: 30rem;
    height: 20rem;
    border-radius: 2rem;
  }

  .div-master {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .div-content {
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .div-img {
    height: 50%;
  }

  .div-img img {
    height: 90%;
  }
}
